<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <!-- CSS-->
        {% load staticfiles %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css">   


    </head>
    <body>
        <button class="btn btn-danger" onclick="fechaPorta()">Oi Django!</button>
        <h3 id="teste">Meu teste</h3>
    </body>

    <footer>

        <script>
            function fechaPorta()
            {
                $.ajax(
                        {
                            type: "GET",
                            url: "/fechaPorta",
                            error: function()
                            {
                                alert("error fechar porta");
                            }
                        }
                    ); 
            }
        </script>

        <script>
        //         function solicitaDocumentosSegurado()
        //         {
        //             var dataAnt = 'Teste';
        //             setInterval(function()
        //             { 
        //                 $.ajax(
        //                 {
        //                     type: "GET",
        //                     url: "/meuRequest",
        //                     success: function(data)
        //                     {
                                
        //                         if(data != dataAnt && data !='')
        //                            dataAnt = data;
        //                         document.getElementById("teste").innerHTML=dataAnt;
        //                     },
                            
        //                 }
        //                 ); 
        //             }, 1000);           
        //         }
        // window.onload = solicitaDocumentosSegurado; 
        </script> 



    </footer>


</html>