<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>MicroSnake</title>

      {% load static %}
      <!-- <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body style = "background-color: black">
      <h1 id ="2" style="color: white;text-align: center;font-family: Trebuchet MS;font-size: 50px;margin-top: -10px">BitSnake</h1>
      <canvas  width="400" height="400" id="game" style="background-color: black;position: fixed;
          top: 8%;
          left: 35%;
          border-style: solid;
  border-width: 5px;
    border-color: white;"></canvas>
      <img src="{% static 'image/microA.png' %}"  style="  position: relative;
      top:390px;
      left:570px;
      height: 15%;
      width: 15%;">

<h3 style="color:red; font-family: Trebuchet MS;position: absolute;top: 530px;left:400px">
  Mover a cobra no<br> sentido anti-horário
</h3>

<h3 style="color:green; font-family: Trebuchet MS;position: absolute;top: 530px;left:790px">
  Mover a cobra no<br> sentido horário
</h3>

  </body>

  <footer>

    <script>
    var frameRequest = undefined;

    var canvas = document.getElementById('game');
    var canvasContext = canvas.getContext('2d');
    var jogoStart = false;

    canvasContext.font = "30px Trebuchet MS";
    canvasContext.fillStyle = 'white';
    canvasContext.fillText("Pressione A ou B para jogar!",15,180);

    var grid = 16;
    var count = 0;
    var pontos = 0;
      
    var snake = 
    {
        //posicao da cabeca da cobra
        x: 160,
        y: 160,
        
        //direcao atual
        currentDirection : "right",

        // velocidade nos eixos x e y
        dx: grid,
        dy: 0,
        
        // guarda cada quadrado do corpo da cobra
        cells: [],
        
        // o quanto corpo aumenta após comer
        maxCells: 1
    };

    var apple = {
        x: 320,
        y: 320
    };


    function startGame()
    {
      if (!frameRequest)
      {
        sendData("inicioJogo.");
        jogoStart = true;
        snake.x = 160;
        snake.y = 160;
        snake.maxCells = 1;
        snake.cells = [];
        snake.dx = grid;
        snake.dy = 0;
        apple.x = getRandomInt(0, 25) * grid;
        apple.y = getRandomInt(0, 25) * grid;
        frameRequest=requestAnimationFrame(loop);
      }
    }

    function gameOver()
    {
      if (frameRequest) 
      {
        sendData("fimJogo.");
        jogoStart = false;
        canvasContext.fillStyle = 'black';
        canvasContext.fillRect(0,0,canvas.width,canvas.height);
        cancelAnimationFrame(frameRequest);
        frameRequest = undefined;
        canvasContext.font = "20px Trebuchet MS";
        canvasContext.fillStyle = 'white';
        canvasContext.fillText("Fim de Jogo! Pontuação: " + pontos,85,170);
        canvasContext.fillText("Aperte um botão para jogar novamente!",25,220);
        pontos = 0;
      }

    }


    function getRandomInt(min, max) 
    {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    // loop com o jogo rodando
    function loop() 
    {
      frameRequest=requestAnimationFrame(loop);

      //reduz velocidade do jogo
      if (++count < 15) 
      {
        return;
      }
      count = 0;

      canvasContext.clearRect(0,0,canvas.width,canvas.height);

      //move cobra
      snake.x += snake.dx;
      snake.y += snake.dy;
      
      //testes para ver se cobra passou do limite da tela

      if (snake.x < 0) 
      {
   
        gameOver();
      }
      else if (snake.x >= canvas.width) 
      {
       
        gameOver();
        
      }
      
      if (snake.y < 0) 
      {
        gameOver();
      }
      else if (snake.y >= canvas.height) 
      {
        gameOver();
      }

      //insere e remove novas partes para nao ficar uma linha inteira nova cabeca para a cobra
      snake.cells.unshift({x: snake.x, y: snake.y});

      // remove partes do corpo para 
      if (snake.cells.length > snake.maxCells) 
      { 
        snake.cells.pop();
      }

      // desenha comida
      canvasContext.fillStyle = 'red';

      canvasContext.fillRect(apple.x, apple.y, grid-1, grid-1);
    
      // desenha a cobra
      canvasContext.fillStyle = 'lightgreen';

      //funcao para cada parte do corpo da cobra
      snake.cells.forEach(function(cell, index) {
        
        // 1px a menos para ser possivel ver o corpo da cobra
      
        canvasContext.fillRect(cell.x, cell.y, grid-1, grid-1);  
      
        // cobra comeu comida
        if (cell.x === apple.x && cell.y === apple.y) 
        {
          snake.maxCells++;
          sendData("aumentoPontuacao.");
          pontos = pontos + 1;

          apple.x = getRandomInt(0, 25) * grid;
          apple.y = getRandomInt(0, 25) * grid;
        }

        // checando colisao com cada parte do corpo da cobra
        for (var i = index + 1; i < snake.cells.length; i++) 
        {
          if (cell.x === snake.cells[i].x && cell.y === snake.cells[i].y) 
          {
          
              gameOver();
          }
        }
      });
    }

    function sendData(message)
    {
      $.ajax({
              url: "escreveRequest/",
              type: "POST", 
              data: {
                  message: message,
                  csrfmiddlewaretoken: '{{ csrf_token }}'
                  }
          });
    }



    function LeComSerial()
    {
            $.ajax
            ({
                type: "GET",
                url: "meuRequest/",
                success: function(data)
                {
                    currentDirection = snake.currentDirection;
                    if(data !='')
                    {
                        console.log(data);
                        if(data == 'A')
                        {
                          if(jogoStart == false)
                              startGame();
                            else
                            {
                              if(currentDirection=="right")
                                moveUp();
                              else if(currentDirection== "left")
                                moveDown();
                              else if(currentDirection== "down")
                                moveLeft();
                              else if(currentDirection== "up")
                                moveLeft();
                          }
                        }
                        else if(data == 'B')
                        {
                          if(jogoStart == false)
                              startGame();
                          else
                          {
                            if(currentDirection=="right")
                              moveDown();
                            else if(currentDirection== "left")
                              moveUp();
                            else if(currentDirection== "down")
                              moveRight();
                            else if(currentDirection== "up")
                              moveRight();
                          }
                        }

                    }
                }    
            });         
    } 

    setInterval(LeComSerial,700);

    function moveUp()
    {
      snake.dy = -grid;
      snake.dx = 0;
      snake.currentDirection = "up";
    }

    function moveDown()
    {
      snake.dy = grid;
      snake.dx = 0;
      snake.currentDirection = "down";
    }

    function moveLeft()
    {
      snake.dx = -grid;
      snake.dy = 0;
      snake.currentDirection = "left";
    }

    function moveRight()
    {
      snake.dx = grid;
      snake.dy = 0;
      snake.currentDirection = "right";
    }


          
                  

    </script>



  </footer>

</html>
